@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor{
    padding:0 !important;
    /* display: flex !important; */
}

.ql-editor > p {
    overflow: hidden !important;
    white-space: nowrap;
    /* height: 100%; */
    font-size: 10px;
}

.transform-component-module_wrapper__SPB86{
    width: 100% !important;
    height: 100% !important;
}
.transform-component-module_content__FBWxo{
    width: 100% !important;
    height: 100% !important;
}

.ql-toolbar.ql-snow{
    position: absolute;
    top:0vh;
    /* display: flex; */

}