@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor{
    padding:0 !important;
    /* display: flex !important; */
}

.ql-editor > p {
    overflow: hidden !important;
    white-space: nowrap;
    height: 100%;
}